body {
    background-color: #ADBCC9;
}

#title {
    margin-top: 2%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #40454A;
}

h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ADBCC9;
}

button:hover {
    color: #6c757d !important;
}

.row {
    /* ,"m-4","d-flex","align-items-center"  */
    display: flex !important;
    align-items: center !important;
    margin: 1.5rem !important;
}

    .card-img-top{
        max-width: 100%;
        height: auto;
    }